@media (max-width: 999px) {
  .content,
  .link
  {
      width: 90%;
    }
    
   } 

   @media(min-width: 1000px){
    .content
     {
        width: 500px;
       }
       .link {
         width: 440px;
       }
     }


/* CSS reset */
*, *:before, *:after { 
    margin:0;
    padding:0;
    font-family: Arial,sans-serif;
  }
  
  body{
    margin:10px;
  }
  
  a{
    text-decoration: none;
  }
  
  
  /* content que contem os formulário */
  .content{
    
    margin: 40px auto;
    position: relative; 
    z-index: -1;
    
  }
  
  /* formatando o cabeçalho do formulário */
  h1{
    font-size: 35px;
    color: #3E497A;
    padding: 10px 0;
    font-family: Arial,sans-serif;
    font-weight: bold;
    text-align: center;
    padding-bottom: 30px;
  }
  
  p{
    margin-bottom:15px;
    
  }
  p:first-child{
    margin: 0px;
  }
  label{
    color: #3E497A;
    position: relative;
    display: inline-block
  }
  
  /**** advanced input styling ****/
  /* placeholder */
  ::-webkit-input-placeholder  {
    color: #bebcbc; 
    font-style: italic;
  }
  input:-moz-placeholder,
  textarea:-moz-placeholder{
    color: #bebcbc;
    font-style: italic;
  } 
  input {
    outline: none;
  }
  
  input:not([type="checkbox"]){
    width: 95%;
    margin-top: 4px;
    padding: 10px;  
    border: 1px solid #b2b2b2;
    
    -webkit-border-radius: 3px;
    border-radius: 3px;
    
    -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  
  /*estilo do botão submit */
  button{
    width: 100%!important;
    cursor: pointer;  
    background: #3E497A;
    padding: 8px 5px;
    color: #fff;
    font-size: 20px;  
    border: 1px solid #fff; 
    margin-bottom: 10px;  
    text-shadow: 0 1px 1px #333;
    
    -webkit-border-radius: 5px;
    border-radius: 5px;
    
    transition: all 0.2s linear;
  }
  button:hover{
    background: #140c8b;
  }
  
 
  /* estilos para formulário */ 
  #login{
    position: absolute;
    top: 0px;
    width: 88%; 
    padding: 18px 6% 60px 6%;
    margin: 0 0 35px 0;
    background: rgb(247, 247, 247);
    border: 1px solid rgba(78, 86, 131, 0.8);
    
    
  }
  
  .link{
    position: absolute;
    
    color: #7f7c7c;
    left: 0px;
    height: 20px;
    padding: 17px 30px 20px 30px;
    font-size: 16px;
    text-align: right;
    
    -webkit-border-radius: 0 0  5px 5px;
    border-radius: 0 0  5px 5px;
  }

  .link a {
    font-weight: bold;
    background: #f7f8f1;
    padding: 5px;
    color: rgb(76, 84, 151);
    margin-left: 10px;
    border: 1px solid #3E497A;
  
    -webkit-border-radius: 4px;
    border-radius: 4px;  
  
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s  linear;
  }

  .link a:hover {
    color: #3E497A;
    background: #f7f7f7;
    border: 1px solid #3E497A;
  }
  .rodape {
    background-color: #3E497A;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    font-size: 15px;
    text-align: center;
    padding: 20px 0px 20px 0px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }

 
  #msgError{
    text-align: center;
    color: #ff0000;
    background-color: #ffbbbb;
    padding: 10px;
    border-radius: 4px;
    display: none;

  }